/* Introduce google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&family=Ubuntu:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-color: white;
    color: black;
}
/* Landing Page */
#landing-page{
    height: 100vh;
}
/* Navigation */
.navbar{
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Ubuntu', sans-serif;
    background-color: skyblue;
    padding: 25px;
}
.navbar ul{
    display: flex;
    list-style: none;
}
.navbar .nav-item{
    margin-left: 25px;
}
.navbar .nav-link{
    font-size: 18px;
    color: white;
}
.navbar .nav-link:hover{
    color: black;
}

/* Brief Introduction */
#introduction{
    margin-top: 8%;
    margin-left: 1%;
}
.information{
    margin-top: 13%;
    margin-left: 4%;
    line-height: 4em;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
}
#introduction .information .hello{
    color: tomato;
    font-weight: 1000;
}
#introduction .information .author{
    color: mediumspringgreen;
}
#introduction .information .career{
    color: teal;
}
#introduction .information .niaje{
    color: saddlebrown;
    font-size: 14px;
}
#introduction img{
    float: right;
    height: 648px;
    margin-top: -32.6%;
}
.social{
    background-color: skyblue;
    width: 100%;
    padding: 25px;
    margin-top: 8.5%;
}
.social ul{
    list-style: none;
    display: flex;
}
.social li{
    padding-top: -1000px;
    font-size: 30px;
    margin-left: 50px;
}
.social a{
    color: white;
}
.social a:hover{
    color:black;
}
/* Landing Page End */
#about{
    height: 100vh;
}