/* Introduce google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&family=Ubuntu:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-color: black;
    color: white;
}
/* Landing Page */
#landing-page{
    height: 100vh;
    background-color: white;
    color: black;
}
/* Navigation */
.navbar{
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Ubuntu', sans-serif;
    background-color: skyblue;
    padding: 25px;
}
.navbar ul{
    display: flex;
    list-style: none;
}
.navbar .nav-item{
    margin-left: 25px;
}
.navbar .nav-link{
    font-size: 18px;
    color: white;
}
.navbar .nav-link:hover{
    color: black;
}
/* Brief Introduction */
#introduction{
    margin-top: 8%;
    margin-left: 1%;
}
.information{
    margin-top: 13%;
    margin-left: 4%;
    line-height: 4em;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
}
#introduction .information .hello{
    color: tomato;
    font-weight: 1000;
}
#introduction .information .author{
    color: mediumspringgreen;
}
#introduction .information .career{
    color: teal;
}
#introduction .information .niaje{
    color: saddlebrown;
    font-size: 14px;
}
#introduction img{
    float: right;
    height: 648px;
    margin-top: -32.6%;
}
.languages{
    background-color: skyblue;
    width: 100%;
    padding: 25px;
    margin-top: 8.5%;
}
.languages ul{
    list-style: none;
    display: flex;
    margin-left: 40%;
}
.languages li{
    font-size: 35px;
    margin-left: 25px;
    color: white;
}
.languages .html:hover{
    color: chocolate;
}
.languages .css:hover{
    color: dodgerblue;
}
.languages .bootstrap:hover{
    color: blue;
}
.languages .javascript:hover{
    color: yellow;
}
.languages .python:hover{
    color: cornflowerblue;
}
/* Landing Page End */

/* About Page */
#about{
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    color: white;
    background: rgb(0,36,32);
    background: rgb(192,229,248);
    background: linear-gradient(103deg, rgba(192,229,248,1) 0%, rgba(0,0,0,1) 0%);
}
.about-me{
    padding-top: 5%;
}
.about-me h1{
    text-align: center;
    font-size: 56px;
    font-family: 900;
    text-decoration: underline;
    color: pink;
}
.education{
    float: left;
    margin-left: 2%;
    line-height: 4rem;
    font-size: 18px;
}
.education h2{
    text-decoration: underline;
    color: springgreen;
}
.education .education-facility{
    color: orangered;
}
.hobbies{
    float: right;
    margin-right: 2%;
    line-height: 3rem;
    font-size: 20px;
}
.hobbies h2{
    text-decoration: underline;
    color: springgreen;
}
.hobbies li{
    list-style-type: circle;
}
.hobbies .basketball i{
    color: chocolate;
}
.hobbies .skate i{
    color: deeppink;
}
.hobbies .ps i{
    color: blue;
}
.hobbies .trips i{
    color: gold;
}
/* Scrolls */
.scroll{
    margin-top: 25%;
}
.scroll ul{
    list-style: none;
}
.scroll-down{
    text-align: center;
    font-size: 60px;
}
.scroll-down a:link, a:visited{
    color: orange;
}
.scroll-down a:hover, a:active{
    color: skyblue;
}
.scroll-up{
    text-align: center;
    font-size: 60px;
}
.scroll-up a:link, a:visited{
    color: orange;
}
.scroll-up a:hover, a:active{
    color: skyblue;
}
/* Scrolls End */
/* About Page End */


/* Projects Page */
#projects{
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    color: white;
    line-height: 3rem;
    background: rgb(0,36,32);
    background: rgb(192,229,248);
    background: linear-gradient(103deg, rgba(192,229,248,1) 0%, rgba(0,0,0,1) 0%);
}
.projects h1{
    text-align: center;
    font-size: 56px;
    font-family: 900;
    text-decoration: underline;
    color: pink;
    padding: 23px;
}
.images img{
    height: 400px;
    width: 400;
}
.chale{
    float: right;
    margin-right: 2%;
}
.pets{
    float: left;
    margin-left: 2%;
}
#project-scrolls {
    margin-top: 35%;
}
/* Projects End */